div{
    padding: 10px 50px;
    background: red;
    display: flex;
    justify-content: space-between;
}

#NavList{
    /* background: rebeccapurple; */
    display: flex;
    text-decoration: none;

}

#NavList > li {
    font-size: large;
    color: white;
    padding: 0 10px;
    margin: 0 10px;
    list-style: none;
}


#NavList > li:hover {

    color: green;

}


#ButtonNav:hover {

    color: green;
    
}
